<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife_AlexKing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GameOfLife_AlexKing.Properties.Settings>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="timerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="universeX" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="universeY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="seed" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="tenGridColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </GameOfLife_AlexKing.Properties.Settings>
    </userSettings>
</configuration>